<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My First Tech Blog Site</title>
        <link rel="stylesheet" href="/public/stylesheets/style.css">
    </head>

    <body>
        <header>
            <h1>
                <a href="/">My First Tech Blog Site</a>
            </h1>
            <nav>
                <a href="/">Home</a>
                {{!-- Dashboard --}}
                <a href="/login">Login</a>
                <a href="/logout">Logout</a>
            </nav>
        </header>

        <main>
            {{{ body }}}
        </main>

    </body>
</html>