<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        <div class="title">
            <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
            <span>({{post.post_url}})</span>
        </div>
    </li>
    {{/each}}
</ol>