* {
    box-sizing: border-box;
}

header h1 {
    text-align: center;
}

header h1 a {
    text-decoration: none;
    color: rgba(207, 114, 33, 0.663);
    font-size: 40px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 27px;
    padding: 35px 140px 55px 140px;
}